<div style="height:400px; overflow-y:scroll;" id="topbox">
        <h2>About The LiteWeight Platform</h2>
        <span style="margin-left:60px;">
                <i>Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it’s the only thing that ever has.</i> —Margaret Mead
                <br/><br/>
        </span>
        <span style="margin-left:60px;">
                <i>My advocacy is much more towards having more intelligent discussions, which is completely naive and stupid and I realize that.</i> 
—Gavin Schmidt (2009), Climatologist
</i>
                <br/><br/>
        </span>
        LiteWeight is the latest <i>experiment</i> in conversation-based web collaboration -- <i>sensemaking</i> --
        platforms. It got the name <i>LiteWeight</i> when it was realized that previous experiments were simply
        <i>too heavy</i> mostly in terms of features and cognitive overhead. In a sense, this experiment seeks
        to understand what might constitute a <i>minimally lovable product</i> for a given set of features and goals.
        <h3>Philosophy</h3>
        Thinking behind this platform foregrounds this thought:<br/>
        <span style="margin-left:60px;">
                <b>Learning, Discovery, and Problem Solving all entail <i>Conversation</i></b><br/>
        </span>
        <br/>The Margaret Mead quote suggests creating <i>meeting rooms</i> for <i>small groups of thoughtful, committed citizens.</i><br/>
        <br/>The Gavin Schmidt quote suggests that there are <i>issues</i> which arise during the process of holding conversations.<br/>
        <br/>The series of experiments which lead to LiteWeight are all associated with <i>taming conversation</i>.
        <h3>Taming Conversation</h3>
        ToDo


</div>