<div style="height:400px; overflow-y:scroll;" id="topbox">
        <h2>About The LiteWeight Platform</h2>
        <span style="margin-left:60px;">
                <i>Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it’s the only thing that ever has.</i> —Margaret Mead
                <br/><br/>
        </span>
        <span style="margin-left:60px;">
                <i>My advocacy is much more towards having more intelligent discussions, which is completely naive and stupid and I realize that.</i> 
—Gavin Schmidt (2009), Climatologist
</i>
                <br/><br/>
        </span>
        LiteWeight is the latest <i>experiment</i> in conversation-based web collaboration -- <i>sensemaking</i> --
        platforms. It got the name <i>LiteWeight</i> when it was realized that previous experiments were simply
        <i>too heavy</i> mostly in terms of features and cognitive overhead. In a sense, this experiment seeks
        to understand what might constitute a <i>minimally lovable product</i> for a given set of features and goals.
        <h3>Philosophy</h3>
        Thinking behind this platform foregrounds this thought:<br/>
        <span style="margin-left:60px;">
                <b>Learning, Discovery, and Problem Solving all entail <i>Conversation</i></b><br/>
        </span>
        <br/>The Margaret Mead quote suggests creating <i>meeting rooms</i> for <i>small groups of thoughtful, committed citizens.</i><br/>
        <br/>The Gavin Schmidt quote suggests that there are <i>issues</i> which arise during the process of holding conversations.<br/>
        <br/>The series of experiments which lead to LiteWeight are all associated with <i>taming conversation</i>.
        <h3>Taming Conversation</h3>
        The IBIS methodology was invented in a search for ways with which to deal with planning commission meetings which always turned wicked. The approach entailed these key points:
        <ul>
                <li>Facilitated Conversation, which means others besides meeting participants record utterances -- but do not direct the conversation</li>
                <li>Shared Display, which means that the recordings are made visible to all participants</li>
                <li>Structured Presentation, which means that the facilitators are structuring utterances according to type, e.g. questions, answers, pro and con arguments</li>
        </ul>
        Note that, in the context of <i>facilitated conversation</i> one of the facilitator's tasks is to periodically <i>interrupt</i> the conversation and ask for feedback 
        about what has been captured and structured on the display. Frequently as not, participants will spot places of agreement they didn't know existed (probably too busy yacking and not listening),
        or, and this is important, they may recognize they are trying to answer the wrong question.<br/><br/>

        The point of that interruption is to force <i>reflection</i> on what has been said.<br/><br/>
        
        I take that IBIS process as core to taming conversation.  It's necessary, but not sufficient. In the case of LiteWeight, we are talking about online
        conversation, where faciltation, if any, becomes a personal responsibility.  In place of facilitation, we raise the issue of the <i>information being captured itself</i>.

        In meeting rooms, some people actually sit there with a laptop and do quick googles on stuff being said. The hint is that there are things IT can provide which help smooth out rough edges in an ongoing conversation. I see that as an aspect of taming information.

        <h3>Taming Information</h3>
        Think of it this way: if we do not tame information, then we are less able to tame conversation.

        Taming information entails these concepts along with others:
        <ul>
                <li>Signal to noise ratio</li>
                <li>Completeness</li>
                <li>Relatedness</li>
                <li>Findability</li>
                <li>Extensibility</li>
        </ul>

        LiteWeight provides participants with a variety of <i>tools</i> and <i>applications</i>. These support a process we shall call <i>Deep Thinking</i>.
        <h3>Deep Thinking</h3>
        Let us examine Deep Thinking in the context of answer a question. As you think about the question and begin to enumerate the possible answers you might offer,
        you ask yourself this question:
        <ul>
                <li>How will I justify my answer(s)?</li>
        </ul>
        That leads to this question:
        <ul>
                <li>Are those justifications to be found here already?</li>
        </ul>
        To answer that, you look for <i>Tags</i> which might support your answer(s) with related documents. You might also use the <i>Search</i> widget to see what's in here.<br/><br/>
        At some point, you might simply go to a new browser window and search for documents you can <i>bookmark</i> to bring into the local database and have ready. When you 
        bring those documents in, you spend time <i>tagging</i> and <i>connecting</i> them. Those are the key processes of <i>gardening</i>.<br/><br/>
        You've done the <i>deep thinking</i> necessary to support your answer(s), and quite possibly, learned a few more things along the way.

</div>