<div style="height:400px; overflow-y:scroll;" id="topbox">
    <h2>About Connections</h2>
    Wiring a <i>graph</i> of connections between nodes is a process which allows you to assert claims on nodes such as:<br/>
    <ul>
        <li>something <i>is caused by</i> something else</i></li>
        <li>something <i>proves</i> something else</li>
        <li>something <i>is similar to</i> something else</li>
    </ul>
    Important points to note about connections:<br/>
    <ul>
        <li>They are not simple HREF links</li>
        <li>They are, in fact, nodes (topics)</li>
        <li>Because they are nodes like other nodes, you can connect your connections to other nodes the same way you made them in the first place</li>
    </ul>
    <h3>How To Connect</h3>
    <ol>
        <li>First, you <i>must <a href="/aboutremember">remember</a> </i>a node</li>
        <li>Navigate to the other node in this connection</li>
        <li>With a remembered node, you will now see two connection choices:
            <ul>
                <li>Connect the node you are visiting as the <i>source</i> in the connection</li>
                <li>Connect the node you are visiting as the <i>target</i> of this connection</li>
            </ul>
        </li>
        <li>Choose one of those</li>
        <li>Choosing now presents you with a collection of <i>connection types</i></li>
        <li>Chose one and click <b>Save</b></li>
    </ol>
</div>