<div style="height:400px; overflow-y:scroll;" id="topbox">
    <h2>About Remembering</h2>
    Remembering is a core feature which supports <i>gardening</i> within the <i>workstation</i> that is a LiteWeight installation.<br/>
    A <i>reason</i> to remember a node you are viewing is that you may want to use it in a <a href="/aboutconnections">connection</a>. As the platform grows in features
    there will be other functions for which remembering a node is useful.
    <h3>How To Remember</h3>
    <ol>
        <li>Visit a node in the portal</li>
        <li>Click <b><Remember/b></li>
    </ol>
    That's it! After you remember a node, other controls, for now, connection controls, will become enabled.
</div>