<div style="height:400px; overflow-y:scroll;" id="topbox">
    <h2>About Conversations</h2>
    All <i>conversations</i> in LiteWeight are <i>structured</i>. This means that they take the shape of a 
    <i>rooted tree</i> with possibly many tree branches. In LiteWeight, all conversations are rooted in one of:
    <ul>
        <li>A Journal Entry</li>
        <li>A Bookmark</li>
        <li>A Connection</li>
    </ul>
    TODO
</div>