<div style="height:800px;" id="topbox">
    <img style="margin-left=20px;" src="/images/help.png" onclick="javascript:location.href='/aboutcarrotsearch'">

    <iframe src="http://search.carrot2.org/stable/search" height="800px" width="100%"></iframe>
</div>
