<div id="topbox">
    <div style="margin-left: 10px;">

        <h2><img style="margin-right: 4px" src="/images/publication.png">Journal Entries<img style="margin-left=20px;" src="/images/help.png" onclick="javascript:location.href='/aboutjournals'"></h2>
        {{#if isAuthenticated}}
            <p><a  href="/journal/new"><b>New Journal Entry</b></a></p>
        {{/if}}

        <div style="overflow-y: auto; height:300px;">

            {{#each journallist}}
                <a href="/journal/{{id}}"><img style="margin-right: 4px;" src="{{img}}">{{statement}}</a><br/>
            {{/each}}
        </div>
    </div>

</div>