<div id="topbox">
    <div style="margin-left: 10px;">

        <h2>Search Hits</h2>
        <div style="overflow-y: auto; height:300px;">

            {{#each hitlist}}
                <a href="/grab/{{id}}"><img style="margin-right: 4px;" src="{{img}}">{{statement}}</a><br/>
            {{/each}}
        </div>
    </div>

</div>