<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.min.css"/>
 
<script type="text/javascript" src="/js/vis.js"></script>

<style type="text/css">
    #mynetwork { 
        display:block;
        width:inherit;
        height:800px;
        border:solid;
        background-color:white;
    }
</style>
<div id="topbox">
    <div id="mynetwork">Network Graph</div>
</div>

<script>
    window.onload = function() {
        //alert("starting");
        //view-source:http://visjs.org/examples/timeline/dataHandling/loadExternalData.html
        $.ajax({
            url: "{{action}}",
            dataType : "json",
            success: function (data) {
                var container = document.getElementById('mynetwork');
                var options = {};
                var timeline = new vis.Network(container, data, options);
            },
            error: function (err) {
                console.log('Error', err);
            }
        });
    };
  
    
</script>